<div class="chat-container">
  <div class="chat-sidebar">
    <h2 class="sidebar-title">Chat de {{ user?.name_user }}</h2>
    <h3 class="sidebar-subtitle">Selecciona un chat</h3>
    <mat-list>
      <mat-list-item
        *ngFor="let chat of user?.messages"
        (click)="changeChat(chat)"
        [class.selected]="chat.name === onSelectedUser.name"
      >
        <div class="chat-info">
          <strong class="chat-name">{{ chat.name }}</strong>
          <ng-container
            *ngIf="
              messagesMap.get(getRoomId(user!.name_user, chat.name)) as messages
            "
          >
            <span *ngIf="messages.length > 0" class="last-message">
              {{ messages[messages.length - 1].message }}
            </span>
          </ng-container>
        </div>
      </mat-list-item>
    </mat-list>
  </div>

  <div class="chat-window" *ngIf="onSelectedUser?.name">
    <h3>Conversación con {{ onSelectedUser.name }}</h3>

    <div class="chat-box">
      <mat-card
        *ngFor="let msg of messagesMap.get(currentRoom)"
        [class.sent]="msg.senderName === user?.name_user"
        [class.received]="msg.senderName !== user?.name_user"
      >
        <mat-card-content>
          <strong>{{ msg.senderName }} </strong>
          <p>{{ msg.message }}</p>
        </mat-card-content>
      </mat-card>
    </div>

    <form [formGroup]="chatForm" (ngSubmit)="sendMessage()" class="chat-input">
      <mat-form-field class="message-input">
        <mat-label>Escribe un mensaje...</mat-label>
        <input matInput formControlName="messageInput" />
      </mat-form-field>
      <button
        mat-icon-button
        color="primary"
        type="submit"
        [disabled]="chatForm.invalid"
      >
        <mat-icon>send</mat-icon>
      </button>
    </form>

    <div
      *ngIf="
        chatForm.controls['messageInput'].invalid &&
        chatForm.controls['messageInput'].touched
      "
      class="error"
    >
      * El mensaje no puede estar vacío
    </div>
  </div>

  <button mat-button color="warn" (click)="goBack()">Regresar</button>
</div>
